<div class="mainUsers panel panel-default">
	<p class="bg-primary">Users</p>
	<div class="buttons">
		<span class="btn btn-default" (click)="showAddForm()">Add</span><span class="btn btn-default" (click)="showEditForm()">Edit</span>
		<span class="btn btn-default">Delete</span>
	</div>
	<div class="panel panel-default Users">
		<div class="row bold localRow">
			<div class="col-md-2">#</div>
			<div class="col-md-5">UserName</div>
			<div class="col-md-5">Department</div>
		</div>
		<div *ngFor="let user of Users" class="row localRow" (click)="onSelect(user)" [ngClass]="getCssClass(user)">
			<div class="col-md-2">{{user.id}}</div>
			<div class="col-md-5">{{user.name}}</div>
			<div class="col-md-5">{{user.departmentName}}</div>
		</div>
	</div>
</div>
<div [hidden]="hideForm">
	<app-user-detail [user]="selectedUser"></app-user-detail>
</div>