<form (ngSubmit)="addUser(user)" [formGroup]="form" class="formUserHide panel panel-default" [hidden]="hideForm" *ngIf="user"
  novalidate>
  <div class="form-group">
    <label for="name" class="control-label">User</label>
    <input type="text" class="form-control" formControlName="name" id="name">
  </div>
  <div class="clearfix">
    <div class="float-left">
      <app-department [departmentid]="getId()" formControlName="formDepartment"></app-department>
    </div>
    <button type="submit" class="btn btn-default float-right">{{getName()}}</button>
  </div>
</form>