<div class="departments" [formGroup]="formDepartment" novalidate>
  <div class="form-group" [ngClass]="{ 'has-danger': formDepartment.controls.departmentControl.invalid || formDepartment.controls.departmentControl.dirty,
  'has-success': formDepartment.controls.departmentControl.valid && formDepartment.controls.departmentControl.dirty }">
    <select name="department" class="form-control select input" [(ngModel)]="departmentid" formControlName="departmentControl">
      <option *ngFor="let department of departments" [ngValue]="department.id">
        {{ department.name }}
      </option>
    </select>
  </div>
</div>