@import "~bootstrap/dist/css/bootstrap.min.css";
.departments
{
	.select{
		width: 200px;
		margin: 10px;
	}
	
	.has-danger .input
	{
		border-color: red;
	}
	.has-success .input
	{
		border-color: green;
	}	
}